.daydo-list-template-wrapper p {
    width: 70%;
    margin: auto;

    border-bottom: 0.1rem solid #86868B;
}

.daydo-list-wrapper {
    width: 70%;
    margin: auto;
    padding: 3%;

    list-style: none;
    text-align: left;
}

/*Responsive*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .component {
        margin-top: 15%;
        margin-bottom: 20%;    
    }
  }
  @media screen and (max-width: 767px) {
    .daydo-list-template-wrapper {
        width: 80%;
    }

    .component {
        margin-top: 20%;
        margin-bottom: 25%;    
    }
  }