.daydo-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.daydo-title h2 {
    margin: 5%;
}

.daydo-title .left:hover {
    cursor: pointer;
}

.daydo-title .right {
    cursor: pointer;
}