.todo-list-template-wrapper {
    position: relative;
    z-index: 1;
    width: 600px;
    margin: auto;
    margin-top: 3%;

    text-align: center;

    background-color: #F6F6F6;
    border-radius: 10%;

    padding: 1%;
}

.todo-list-template-wrapper p {
    width: 70%;
    margin: auto;

    border-bottom: 0.1rem solid #86868B;
}

.todo-title {
    color: #1D1D1F;
}

.todo-lists-wrapper {
    width: 70%;
    margin: auto;
    padding: 3%;

    list-style: none;
    text-align: left;
}

/*Responsive*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .component {
        margin-top: 15%;
        margin-bottom: 20%;    
    }
  }
  @media screen and (max-width: 767px) {
    .todo-list-template-wrapper {
        width: 80%;
    }

    .component {
        margin-top: 20%;
        margin-bottom: 25%;    
    }
  }