.todo-list-template-wrapper p {
    width: 70%;
    margin: auto;

    border-bottom: 0.1rem solid #86868B;
}

.todo-lists-wrapper {
    width: 70%;
    margin: auto;
    padding: 3%;

    list-style: none;
    text-align: left;
}