.preference_template {
    margin: auto;
    margin-top: 10%;
}

.preference_title {
    font-size: 3rem;
    padding: 5%;
}

.preference_template p {
    color: gray;
}

.preference_template li {
    margin-top: 5%;
    margin-bottom: 10%;
}

.preference_component {
    width: 600px;
    margin: auto;
}

/*Responsive*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .preference_template {
        margin-top: 15%;
    }

    .preference_component {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .preference_template {
        margin-top: 25%;
    }

    .preference_component {
        width: 70%;
    }
}