.preference_template {
    width: 70%;
    margin: auto;
    margin-top: 15%;
}

.preference_title {
    font-size: 3rem;
    padding: 5%;
}

.preference_template p {
    color: gray;
}

.preference_template li {
    margin-top: 5%;
    margin-bottom: 15%;
}

.preference_component {
    width: 70%;
    margin: auto;
}